<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.socft.drugproject.main.MainDao">

    <select id="getTest" resultType="map">
        /*getTest*/
        SELECT * FROM drug
    </select>

    <select id="getMenuList" resultType="com.socft.drugproject.main.MenuVo">
        SELECT id,
               menu_nm as menuNm,
               expert_access as expertAccess,
               user_access as userAccess
        FROM menu
        WHERE 1=1
        <if test="userType == user">
            AND user_access = 'Y'
        </if>
        <if test="userType == expert">
            AND expert_access = 'Y'
        </if>
    </select>
</mapper>