header {
    position: relative;
    padding: 0 10px;
    background: #3a3a3a;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    width: 100%;
}
body * {
    box-sizing: border-box;
}

header.index h1 {
    width: max-content;
}

header.index .login-btn {
    width: max-content;
    height: 60px;
}

header.index .login-btn ul {
    text-align: right;
    height: 100%;
    font-size: 0;
}

header.index .login-btn ul li {
    display: inline-block;
    height: 100%;
}

header.index .login-btn ul li a {
    display: flex;
    font-size: 17px;
    color: #fff;
    padding: 0 30px;
    transition: none;
    height: 100%;
    align-items: center;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}